<h1>Info</h1>
 
    <dt>id</dt><dd>{{this.id}}</dd><br>
    <dt>name</dt><dd>{{this.name}}</dd><br>
    <dt>path</dt><dd>{{this.path}}</dd><br>
    <dt>size</dt><dd>{{this.size}}</dd><br>
    <dt>type</dt><dd>{{this.type}}</dd><br>
    <dt>savedate</dt><dd>{{this.lastModifiedDate}}</dd><br>

